---
version: latest

ingress:
  className: "nginx"
  annotations: {}
  host: codebattle.hexlet.io
  enabled: true
  tls: []
  #  - secretName: codebattle-tls
  #    hosts:
  #      - codebattle.example.com

codebattle:
  replicaCount: 1
  image:
    repository: codebattle/codebattle
    imagePullPolicy: Always
  service:
    type: ClusterIP
    port: 4000
  env:
    CODEBATTLE_SHOW_EXTENSION_POPUP: "true"
    CODEBATTLE_USE_EXTERNAL_JS: "true"
    CODEBATTLE_CREATE_BOT_GAMES: "true"
    CODEBATTLE_IMPORT_GITHUB_TASKS: "true"
    CODEBATTLE_ALLOW_GUESTS: "true"
    CODEBATTLE_USE_PRESENCE: "true"
    CODEBATTLE_RECORD_GAMES: "true"
    CODEBATTLE_VERSION: "{{ .Values.version }}"
    CODEBATTLE_PORT: 4000

runner:
  replicaCount: 2
  # Deployment or DaemonSet
  type: Deployment
  image:
    repository: codebattle/runner
    imagePullPolicy: Always

chatbot:
  enabled: true
  replicaCount: 1
  image:
    repository: codebattle/chat_bot
    imagePullPolicy: Always
    tag: "0.0.1"

nginx:
  image:
    repository: codebattle/nginx-assets
    imagePullPolicy: Always

runnerRust:
  enabled: false
  langs:
    - name: rust
      image: codebattle/rust:1.76.0
      replicaCount: 1
    - name: js
      image: codebattle/js:20.11.1
      replicaCount: 2
    - name: python
      image: codebattle/python:3.12.2
      replicaCount: 3


resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
