---
version: latest
registry: docker.io

ingress:
  className: "nginx"
  annotations: {}
  host: codebattle.hexlet.io
  enabled: true
  tls: []
  #  - secretName: codebattle-tls
  #    hosts:
  #      - codebattle.example.com

codebattle:
  affinity: {}
  replicaCount: 1
  image:
    repository: codebattle/codebattle
    imagePullPolicy: Always
  service:
    type: ClusterIP
    port: 4000
  env:
    CODEBATTLE_VERSION: "{{ .Values.version }}"
    CODEBATTLE_PORT: 4000

runner:
  replicaCount: 1
  # Deployment or DaemonSet
  type: Deployment
  image:
    repository: codebattle/runner
    imagePullPolicy: Always

chatbot:
  enabled: true
  replicaCount: 1
  image:
    repository: codebattle/chat_bot
    imagePullPolicy: Always
    tag: "0.0.1"

nginx:
  image:
    repository: codebattle/nginx-assets
    imagePullPolicy: Always

runnerRust:
  enabled: false
  langs:
    - name: rust
      image: codebattle/rust:1.76.0
      replicaCount: 1
    - name: js
      image: codebattle/js:20.11.1
      replicaCount: 2
    - name: python
      image: codebattle/python:3.12.2
      replicaCount: 3

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
