<div
  id="group-tournament-root"
  data-group-tournament-id={@group_tournament.id}
  data-group-tournament-name={@group_tournament.name}
  data-group-tournament-description={@group_tournament.description}
  class="w-100 cb-text px-2 mx-2"
>
</div>
<script>
  window.csrf_token = "<%= csrf_token() %>"
</script>
