@import "~bootstrap/scss/bootstrap";
<<<<<<< HEAD
=======
$fa-font-path: "~font-awesome/fonts";
>>>>>>> upstream/master
@import "~font-awesome/scss/font-awesome";

.chat-box {
    height: 200px;
    overflow-y: scroll;
}

.online-users {
    height: 250px;
    overflow-y: scroll;
}
