$link-color: #1f3754;
$link-hover-color: #5673ce;
$link-hover-decoration: none;
$body-bg: #fafafa;

$gray-600: #477591 !default;
$green: #64b079 !default;

$secondary: $gray-600 !default;
$success: $green !default;

$box-shadow-sm: 0 2px 4px rgba(0,0,0,0.18);
@import "fonts";
$font-family-sans-serif: "Roboto", sans-serif;
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~font-mfizz/dist/font-mfizz.css";
@import "~react-pagination-library/build/css/index.css";

a {
  transition: color ease-in 0.1s;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
}


.react-calendar-heatmap {
  .color-huge {
      fill: #1e6823;
  }
  .color-huge:hover {
    fill: #0e5813;
  }
  .color-large {
      fill: #44a340;
  }
  .color-large:hover {
      fill: #349330;
  }
  .color-small {
      fill: #d6e685;
  }
  .color-small:hover {
      fill: #c6d675;
  }
  .color-empty {
      fill: #eee;
  }
  .color-empty:hover {
    fill: #ccc;
  }
}
.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}
.react-calendar-heatmap {
    font-size: 8px;
}
.x-username-td {
    max-width: 220px;
    overflow: hidden;
}
