@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.chat-box {
    height: 100px;
    overflow-y: scroll;
}

.online-users {
    height: 150px;
    overflow-y: scroll;
}
