.preview {
  width: 100vw;
  height: calc(100vh - 95px);
  display: flex;
  position: relative;
  background-color: #000;
  &::before {
    position: absolute;
    top: 30px;
    left: 0;
    content: '';
    width: 10%;
    height: 90%;
    background: url('~/assets/static/images/CODEBATTLE.svg') no-repeat center;
    background-size: contain;
    @media (max-width: $lg) {
      top: 50%;
      left: 45%;
      transform: rotate(90deg);
    }
  }

  &::after {
    position: absolute;
    top: 30px;
    right: 0;
    content: '';
    width: 10%;
    height: 90%;
    background: url('~/assets/static/images/CODEBATTLE.svg') no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
    @media (max-width: $lg) {
      top: -40%;
      left: 45%;
      transform: rotate(90deg);
    }
  }
}

.preview__container {
  justify-content: space-evenly;
}

.preview__icon {
  width: 30px;
  height: 30px;
}

.player1,
.player2 {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

.player1__name,
.player2__name {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  margin-bottom: 15px;
  @media (max-width: $sm) {
    font-size: 20px;
    width: 120px;
  }
}

.player1__status,
.player2__status {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player1__avatar,
.player2__avatar {
  display: block;
  width: 200px;
  height: 200px;
  background-color: grey;
  border: 4px solid #fff;
  margin-bottom: 40px;
  @media (max-width: $sm) {
    width: 80px;
    height: 80px;
  }
}

.preview__info {
  font-size: 24px;
  color: #a0a0a0;
  @media (max-width: $sm) {
    font-size: 16px;
  }
}

.preview__fight {
  width: 150px;
  height: 150px;
  @media (max-width: $sm) {
    width: 50px;
    height: 50px;
  }
}
