@import 'fonts';
@import 'variables';
@import '~bootstrap/scss/bootstrap';

.btn:hover {
  color: red;
  border-color: red;
  text-decoration: if($link-hover-decoration == underline, none, null);
}

.dark-bg {
  background: $dark;
}

.text-gray {
  color: $gray !important;
}

.text-black {
  color: black !important;
}

.text-orange {
  color: $orange !important;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  font-style: normal;

  @media (max-width: $sm) {
    font-size: 9vw;
  }
}

.header-txt {
  font-size: 18px;
  line-height: 18px;
}

.btn-outline-grey {
  border: 1px solid $gray-dark;

  color: $gray;
  font-weight: bold;
  border-radius: 0%;
}

.bg-codebattle {
  background-image: url('../static/images/landing/bg-codebattle.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
  @media (max-width: $lg) {
    background-image: none;
  }
}

.btn-outline-red {
  border: 2px solid $dark-red;
  color: $dark-red;
  font-weight: bold;
  border-radius: 0%;
}

.x-translate-xl-y-50 {
  @media (min-width: $xl) {
    transform: translateY(-50%) !important;
  }
}

.x-top-0 {
  top: 0;
}

.x-tranform-none {
  transform: none;
}

.footer {
  background-color: rgba($color: $dark, $alpha: 0.91);
}

.fw-500 {
  font-weight: 500;
}

.contributor-img {
  width: 40px;
}

.contributor-img:hover {
  transform: scale(1.2);
}

.hr-red {
  border: 1px solid $dark-red;
}

.hr-gray {
  border: 1px solid $gray-dark;
}

.factoid {
  max-width: 308px;
  max-height: 215px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.lang-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  place-items: center;
  @media (max-width: $sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.comments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 55px;
  place-items: center;
  @media (max-width: $xl) {
    grid-row-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.comment {
  width: 530px;
  height: 580px;
  @media (max-width: $md) {
    width: auto;
    height: auto;
    min-width: 200px;
    max-width: 530px;
  }
}
