@import "fonts";
@import "variables";
@import "~bootstrap/scss/bootstrap";

.btn:hover {
  color: red;
  border-color: red;
  text-decoration: if($link-hover-decoration == underline, none, null);
}

.dark-bg {
  background: $dark;
}

.text-gray {
  color: $gray !important;
}

.text-black {
  color: black !important;
}

.text-orange {
  color: $orange !important;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  font-style: normal;

  @media (max-width: $sm) {
    font-size: 9vw;
  }
}

.header-txt {
  font-size: 18px;
  line-height: 18px;
}

.btn-outline-grey {
  border: 1px solid $gray-dark;

  color: $gray;
  font-weight: bold;
  border-radius: 0%;
}

.bg-codebattle {
  background-image: url("/assets/images/landing/bg-codebattle.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
  @media (max-width: $lg) {
    background-image: none;
  }
}

.btn-outline-red {
  border: 2px solid $dark-red;
  color: $dark-red;
  font-weight: bold;
  border-radius: 0%;
}

.x-translate-xl-y-50 {
  @media (min-width: $xl) {
    transform: translateY(-50%) !important;
  }
}

.x-top-0 {
  top: 0;
}

.x-tranform-none {
  transform: none;
}

.footer {
  background-color: rgba($color: $dark, $alpha: 0.91);
}

.comment {
  max-width: 350px;
  @media (min-width: $sm) {
    min-width: 492px;
    min-height: 492px;
  }
}

.comment-img {
  width: 100%;
}

.fw-500 {
  font-weight: 500;
}

.contributor-img {
  width: 40px;
}

.contributor-img:hover {
  transform: scale(1.2);
}

.hr-red {
  border: 1px solid $dark-red;
}

.hr-gray {
  border: 1px solid $gray-dark;
}

.factoid {
  max-width: 308px;
  max-height: 215px;
}
 p {
  font-family: 'Montserrat', sans-serif;
 }
