$body-bg: #fafafa;

$green: #64b079 !default;

$secondary: #477591 !default;
$success: $green !default;

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
$box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.18);
@import "fonts";
$font-family-sans-serif: "Roboto", sans-serif;
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "/fonts";
@import "~font-mfizz/dist/font-mfizz.css";
@import "tournaments.css";

a {
  transition: color ease-in 0.1s;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
}

.react-calendar-heatmap {
  .color-huge {
    fill: #1e6823;
  }
  .color-huge:hover {
    fill: #0e5813;
  }
  .color-large {
    fill: #44a340;
  }
  .color-large:hover {
    fill: #349330;
  }
  .color-small {
    fill: #d6e685;
  }
  .color-small:hover {
    fill: #c6d675;
  }
  .color-empty {
    fill: #eee;
  }
  .color-empty:hover {
    fill: #ccc;
  }
}
.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}
.react-calendar-heatmap {
  font-size: 8px;
}
.x-username-td {
  max-width: 350px;
  overflow: hidden;
}

.toast-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
}
.polyglot {
  width: 50px;
  height: 50px;
  background: url("/assets/images/achievements/polyglot.png");
  background-size: cover;
  padding: 5px;
}
.profile .polyglot {
  width: 200px;
  height: 200px;
  padding: 12px;
}

.fa-hidden {
  color: transparent;
}

.x-user-avatar {
  width: 25px;
}

.bg-gray {
  background-color: #dedede !important;
}

.x-rounded-bottom-right {
  border-bottom-right-radius: $border-radius !important;
}

.x-rounded-bottom-left {
  border-bottom-left-radius: $border-radius !important;
}
