$body-bg: #fafafa;
$green: #64b079;
$secondary: #477591;
@import "~bootstrap/scss/bootstrap";
@import "~nprogress/nprogress.css";

$font-family-sans-serif: "Roboto", sans-serif;
$fa-font-path: "/fonts";

@import "fonts";
@import "~font-mfizz/dist/font-mfizz.css";
@import "tournaments";

a {
  transition: color ease-in 0.1s;
}

.react-calendar-heatmap {
  .color-huge {
    fill: #1e6823;
  }
  .color-huge:hover {
    fill: #0e5813;
  }
  .color-large {
    fill: #44a340;
  }
  .color-large:hover {
    fill: #349330;
  }
  .color-small {
    fill: #d6e685;
  }
  .color-small:hover {
    fill: #c6d675;
  }
  .color-empty {
    fill: #eee;
  }
  .color-empty:hover {
    fill: #ccc;
  }
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}
.react-calendar-heatmap {
  font-size: 8px;
}

.cb-slider {
  height: 32px;

  &:hover {
    cursor: pointer;

    .cb-slider-timeline {
      transform: translateY(-50%) scale(1, 1.095);
    }
    .cb-slider-handle {
      opacity: 1;
    }
  }
}

.cb-slider-timeline {
  height: 7px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s;
}

.cb-slider-action {
  width: 20px;
  height: 20px;
  left: 0;
  top: 12px;
  opacity: 0;
  transform: translateY(-100%);
}

.cb-slider-handle {
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.28s;
}

.cb-slider-handle-button {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.cb-slider-bar {
  top: 0;
  bottom: 0;
  left: 0;
}

.cb-langs-dropdown {
  height:300px;
  overflow-y:auto;
}

.cb-username-td {
  max-width: 350px;
}

.cb-polyglot {
  width: 50px;
  height: 50px;
  background: url("/assets/images/achievements/polyglot.png");
  background-size: cover;
  padding: 5px;
}
.cb-profile .cb-polyglot {
  width: 200px;
  height: 200px;
  padding: 12px;
}

.cb-user-avatar {
  width: 25px;
}

.cb-sort-arrow {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  &.asc {
    border-bottom: 5px solid #666;
    margin-bottom: 3px;
  }

  &.desc {
    border-top: 5px solid #666;
    padding-bottom: 2px;
  }
}

.cb-toast-close {
  top: 5px;
  right: 10px;
}

.cb-messages-list {
  top: 5px;
  height: 80%;
}

.cb-height-info {
  height: 300px;
}

.cb-emoji-button {
  z-index: 5;
  right: 10%;
}

.cursor-pointer {
  cursor: pointer;
}

.sort-arrows:before,
.sort-arrows:after {
	border: 5px solid transparent;
	content: "";
	display: block;
}

.sort-arrows:before {
	border-bottom-color: #666;
}

.sort-arrows:after {
	border-top-color: #666;
  margin-top: 2px; 
  margin-bottom: -5px;
}

.x-bottom-0 {
  bottom: 0;
}

.x-bottom-75 {
  bottom: 75%;
}

.x-outline-none {
  outline: none;
}

.x-intent-background {
  background-color: rgba($black, 0.25);
}

.x-opacity-0 {
  opacity: 0;
}

.x-bg-gray {
  background-color: $gray-300 !important;
}

.x-rounded-bottom-right {
  border-bottom-right-radius: $border-radius !important;
}

.x-rounded-bottom-left {
  border-bottom-left-radius: $border-radius !important;
}

