$body-bg: #fafafa;

$green: #64b079 !default;

$secondary: #477591 !default;
$success: $green !default;

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
$box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.18);
@import "fonts";
$font-family-sans-serif: "Roboto", sans-serif;
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "/fonts";
@import "~font-mfizz/dist/font-mfizz.css";
@import "tournaments.css";

a {
  transition: color ease-in 0.1s;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
}

.x-slider {
  position: relative;
  width: 100%;
  height: 32px;
  cursor: pointer;

  &:hover {
    .x-slider-timeline {
      transform: translateY(-50%) scale(1, 1.095);
    }
    .x-slider-handle {
      opacity: 1;
    }
  }
}

.x-slider-timeline {
  position: absolute;
  width: 100%;
  height: 7px;
  border-radius: 4px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s;
}

.x-slider-action {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 12px;
  opacity: 0;
  transform: translateY(-100%)
}

.x-slider-handle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.28s;
}

.x-slider-handle-button {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.x-slider-bar {
  position: absolute;
  border-radius: 4px;
  top: 0;
  bottom: 0;
  left: 0;
}

.x-intent-background {
  background-color: rgba(0, 0, 0, 0.25);
}

.react-calendar-heatmap {
  .color-huge {
    fill: #1e6823;
  }
  .color-huge:hover {
    fill: #0e5813;
  }
  .color-large {
    fill: #44a340;
  }
  .color-large:hover {
    fill: #349330;
  }
  .color-small {
    fill: #d6e685;
  }
  .color-small:hover {
    fill: #c6d675;
  }
  .color-empty {
    fill: #eee;
  }
  .color-empty:hover {
    fill: #ccc;
  }
}
.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}
.react-calendar-heatmap {
  font-size: 8px;
}
.x-username-td {
  max-width: 350px;
  overflow: hidden;
}

.toast-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
}
.polyglot {
  width: 50px;
  height: 50px;
  background: url("/assets/images/achievements/polyglot.png");
  background-size: cover;
  padding: 5px;
}
.profile .polyglot {
  width: 200px;
  height: 200px;
  padding: 12px;
}

.fa-hidden {
  color: transparent;
}

.x-user-avatar {
  width: 25px;
}

.bg-gray {
  background-color: #dedede !important;
}

.x-rounded-bottom-right {
  border-bottom-right-radius: $border-radius !important;
}

.x-rounded-bottom-left {
  border-bottom-left-radius: $border-radius !important;
}

.sort-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  &.asc {
    border-bottom: 5px solid black;
  }

  &.desc {
    border-top: 5px solid black;
  }
}

.x-emoji-cursor {
  top: 24%;
  animation: 1s blink step-end infinite;
  width: 0;
  height: 50%;
  border-left: 1px solid #000;
}

@keyframes blink {
  from,
  to {
    opacity: 70%;
  }
  50% {
    opacity: 0;
  }
}

.x-emoji-option::before {
  width: 20px;
  height: 20px;
  background-image: src(attr(data-src));
  background-size: contain;
}
