*,
*::after,
*::before {
  box-sizing: border-box;
}

.bracket {
  display: flex;
}

.round {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.round:first-child .match::before {
  display: none;
}

.round:first-child .match__content::before {
  display: none;
}

.round:last-child .match::after {
  display: none;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  padding: 30px 0;
  flex-grow: 1;
  position: relative;
}

.match::before {
  content: "";
  display: block;
  height: 30px;
  border-left: 2px solid purple;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -15px;
  margin-left: -2px;
}

.match:nth-child(odd)::after {
  content: "";
  display: block;
  border: 2px solid transparent;
  border-top-color: purple;
  border-right-color: purple;
  height: 50%;
  position: absolute;
  right: -10px;
  width: 10px;
  top: 50%;
}

.match:nth-child(even)::after {
  content: "";
  display: block;
  border: 2px solid transparent;
  border-bottom-color: purple;
  border-right-color: purple;
  height: 50%;
  position: absolute;
  right: -10px;
  width: 10px;
  bottom: 50%;
}

.match__content {
  min-width: 200px;
  min-height: 20px;
  position: relative;
}

.match__content::before {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid purple;
  margin-left: -2px;
  position: absolute;
  top: 50%;
  left: -10px;
}

.tournament-bg-active {
  background-color:  #dedede !important;
}

.tournament-player-name {
     width: 130px;
     margin: auto;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
