<%!-- <% matches = get_matches(@tournament) %>
<% final = 0 %>

<div class="d-flex justify-content-around">
  <h4>Final</h4>
</div>
<div class="bracket">
  <div class="round">
    <div class="match">
      <div class="match__content">
        <%= render("_match.html", match: Enum.at(matches, final), current_user: @current_user) %>
      </div>
    </div>
  </div>
</div> --%>
