CODEBATTLE_PORT=4000
CODEBATTLE_RUNNER_PORT=4001
CODEBATTLE_DEV_RUNNER_LANGS=js,python
CODEBATTLE_VITE_PORT=8080
CODEBATTLE_DB_HOSTNAME=db
CODEBATTLE_DB_USERNAME=postgres
CODEBATTLE_DB_PASSWORD=postgres
CODEBATTLE_DB_NAME=codebattle_dev
CODEBATTLE_DB_PORT=5432
CODEBATTLE_SECRET_KEY_BASE=dev-only-secret-key-base-dev-only-secret-key-base-dev-only-secret-key-base
CODEBATTLE_LIVE_VIEW_SALT=dev-only-salt
GITHUB_CLIENT_ID=ASFD
GITHUB_CLIENT_SECRET=ASFD
DISCORD_CLIENT_ID=ASFD
DISCORD_CLIENT_SECRET=ASFD
FIREBASE_API_KEY=0
FIREBASE_SENDER_ID=1
