services:
  app:
    build:
      context: .
      dockerfile: Containerfile.dev
    working_dir: /app
    tty: true # allocates a pseudo-TTY for interactive IEx
    stdin_open: true # keeps STDIN open even if not attached
    mem_limit: 4g
    env_file: .env
    command: mix phx.server
    environment:
      - NODE_OPTIONS=--max-old-space-size=4096
      - "USER=${USER}"
    ports:
      - "${CODEBATTLE_PORT}:${CODEBATTLE_PORT}"
      - "8080:8080"
    volumes:
      - ".:/app:z"
      - "~/.bash_history:/root/.bash_history:z"
      - ".bashrc:/root/.bashrc:z"
      - "/var/tmp:/var/tmp:z"
      - "/tmp:/tmp:z"
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${CODEBATTLE_DB_USERNAME}
      POSTGRES_PASSWORD: ${CODEBATTLE_DB_PASSWORD}
    volumes:
      - pg_data18:/var/lib/postgresql/data

  # same db but forwards port to host
  db-local:
    image: postgres:18-alpine
    ports:
      - "5432:${CODEBATTLE_DB_PORT}"
    environment:
      POSTGRES_USER: ${CODEBATTLE_DB_USERNAME}
      POSTGRES_PASSWORD: ${CODEBATTLE_DB_PASSWORD}
    command: postgres -c 'max_connections=1000'
    volumes:
      - pg_data18:/var/lib/postgresql/data

volumes:
  pg_data18:
