version: '3.3'
services:
  web:
    build: .
    image: hexlet-codebattle/runtime
    env_file: .env
    command: mix phx.server
    volumes:
      - .:/app
    ports:
      - "4000:4000"
    depends_on:
      - db

  db:
    image: postgres:9.6
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
     - POSTGRES_USER=${CODEBATTLE_DATABASE_USERNAME}
     - POSTGRES_PASSWORD=${CODEBATTLE_DATABASE_PASSWORD}


  frontend:
    build:
    image: hexlet-codebattle/runtime
    command: make frontend_watch
    volumes:
      - ./services/web:/user/src/app

volumes:
   postgres-data:
     driver: local
