<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tag() %>
    <title>Stream</title>
  </head>
  <body>
    <div id="stream-classic-root"></div>
  </body>
</html>
