<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">{gettext("Clans")}</h1>
  <div class="cb-d-flex cb-justify-between cb-align-center cb-mt-3">
    <div class="cb-text">
      {gettext("Total clans:")} <span class="cb-text-white">{@total_clans}</span>
    </div>
  </div>
  <div class="cb-table-responsive cb-mt-4">
    <table class="cb-table cb-table-sm">
      <thead class="cb-text">
        <tr>
          <th class="cb-border-color cb-border-bottom-0">
            {sort_link(@conn, gettext("Name"), "name", @sort, @order)}
          </th>
          <th class="cb-border-color cb-border-bottom-0">
            {sort_link(@conn, gettext("Players"), "players_count", @sort, @order)}
          </th>
          <th class="cb-border-color cb-border-bottom-0">{gettext("Creator")}</th>
          <th class="cb-border-color cb-border-bottom-0">
            {sort_link(@conn, gettext("Created at"), "created_at", @sort, @order)}
          </th>
          <th class="cb-border-color cb-border-bottom-0">{gettext("Actions")}</th>
        </tr>
      </thead>
      <tbody>
        <%= for clan <- @clans do %>
          <tr>
            <td class="cb-align-middle text cb-text-white cb-border-color">{clan.name}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{clan.users_count}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {clan.creator && clan.creator.name}
            </td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {format_inserted_at(clan.inserted_at)}
            </td>
            <td class="cb-align-middle cb-border-color">
              <div class="cb-d-flex cb-align-center">
                {link(gettext("Show"),
                  to: Routes.clan_path(@conn, :show, clan.id),
                  class: "cb-btn cb-btn-sm cb-btn-secondary cb-rounded"
                )}
                <%= if Codebattle.User.admin?(@current_user) do %>
                  {link("Delete",
                    to: Routes.clan_path(@conn, :delete, clan.id),
                    method: :delete,
                    data: [confirm: "Delete this clan?"],
                    class: "cb-btn cb-btn-sm cb-btn-outline-danger cb-rounded cb-ml-2"
                  )}
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
