<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">Clan</h1>
  <div class="cb-mt-4">
    <div class="cb-row cb-mb-3 cb-text-white">
      <div class="cb-col-md-6">
        <h4>Clan Details</h4>
        <p><strong>Name:</strong> <span class="cb-text">{@clan.name}</span></p>
        <%= if @clan.long_name && @clan.long_name != "" do %>
          <p><strong>Long Name:</strong> <span class="cb-text">{@clan.long_name}</span></p>
        <% end %>
        <p>
          <strong>Creation Date:</strong>
          <span class="cb-text">{NaiveDateTime.to_date(@clan.inserted_at)}</span>
        </p>
      </div>
      <div class="cb-col-md-6">
        <h4>Creator</h4>
        <p>
          <strong>Name:</strong>
          <span class="cb-text">{(@clan.creator && @clan.creator.name) || "–"}</span>
        </p>
      </div>
    </div>

    <h4 class="cb-mt-4 cb-text-white">Clan Members</h4>
    <div class="cb-table-responsive">
      <table class="cb-table cb-table-sm">
        <thead class="cb-text">
          <tr>
            <th class="cb-border-color cb-border-bottom-0">Name</th>
            <th class="cb-border-color cb-border-bottom-0">Joined Date</th>
          </tr>
        </thead>
        <tbody>
          <%= for user <- Enum.sort_by(@clan.users, & &1.id) do %>
            <tr>
              <td class="cb-align-middle cb-border-color cb-text-white">{user.name}</td>
              <td class="cb-align-middle cb-border-color cb-text-white">
                {NaiveDateTime.to_date(user.inserted_at)}
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
