<div id="game-widget-root"></div>
<%= if Mix.env() == :dev do %>
  <iframe class="xstate w-100"></iframe>
<% end %>
<div id="modal-root" style="position: absolute; top: 0; left: 0;"></div>
<script>
  window.csrf_token = "<%= csrf_token() %>"
</script>
