<!DOCTYPE html>
<html lang="en" class="bg-dark">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta content="7b3f1e2c1757ecf0" name="yandex-verification" />
    <link rel="canonical" href="https://codebattle.hexlet.io/" />
    <link
      href="/assets/images/favicons/apple-icon-180x180.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="/assets/images/favicons/favicon-96x96.png"
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    <link
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <link href="/assets/images/favicons/manifest.json" rel="manifest" />
    <link href="/assets/images/favicons/favicon.ico" rel="shortcut icon" />
    <meta content="#b91d47" name="msapplication-TileColor" />
    <meta content="/assets/images/favicons/browserconfig.xml" name="msapplication-config" />
    <meta content="#ffffff" name="theme-color" />
    <%= render_tags_all(assigns[:meta_tags] || %{}) %>
    <meta name="csrf-token" content={csrf_token_value()} />
    <title><%= Application.get_env(:codebattle, :app_title) %></title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/external.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/external.js")}
    >
    </script>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100 cb-bg-dark">
      <%= if assigns[:show_header] do %>
        <div>
          <div class="container-lg">
            <nav class="navbar navbar-dark navbar-expand-sm justify-content-between px-0 main-nav">
              <a class="navbar-brand d-flex align-items-end" href="/">
                <%= if collab_logo(@current_user) do %>
                  <img
                    alt="collab icon"
                    class="my-auto mx-2 pl-2 pl-md-0 pl-lg-0"
                    style="height:40px"
                    src={collab_logo(@current_user)}
                  />
                <% else %>
                  <img
                    alt="Logo"
                    class="my-auto pt-1 pl-2 pl-md-0 pl-lg-0"
                    src="/assets/images/logo.svg"
                  />
                <% end %>
                <%= if collab_logo_minor(@current_user) do %>
                  <img
                    alt="collab icon"
                    class="my-auto mx-2 pl-2 pl-md-0 pl-lg-0"
                    style="height:40px"
                    src={collab_logo_minor(@current_user)}
                  />
                <% end %>
                <div class="d-none d-sm-none d-md-flex d-lg-flex flex-column text-gray ml-1 pb">
                  <span class="font-weight-bold">
                    <%= Application.get_env(:codebattle, :logo_title) %>
                  </span>
                  <span class="header-txt">
                    <%= Application.get_env(:codebattle, :app_subtitle) %>
                  </span>
                </div>
              </a>
              <%= unless @current_user.is_guest do %>
                <button
                  aria-controls="navbarResponsive"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  class="navbar-toggler position-relative"
                  data-target="#navbarResponsive"
                  data-toggle="collapse"
                  type="button"
                >
                  <span class="navbar-toggler-icon"></span>
                  <span id="invites-counter-id"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                      <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="nav-link noborder d-flex justify-content-center px-0"
                        data-toggle="dropdown"
                        href="#"
                      >
                        <div class="d-flex flex-column justify-content-center mr-2">
                          <h5 class="text-white text-right mb-0 text-break">
                            <%= @current_user.name %>
                          </h5>
                        </div>

                        <img
                          alt="avatar"
                          class="attachment ml-1"
                          src={avatar_url(@current_user)}
                          style="width:46px; height:46px"
                        />
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" style="z-index:1030">
                        <%= link to: session_path(@conn, :delete), method: "delete", class: "dropdown-item" do %>
                          <span class="fas fa-sign-out-alt mr-2"></span>
                          <%= gettext("Sign Out") %>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              <% else %>
                <ul class="navbar-nav">
                  <li class="nav-item mx-1">
                    <a
                      class="mr-2"
                      href={session_path(@conn, :new, locale: :en, next: get_next_path(@conn))}
                    >
                      <button class="btn btn-outline-success rounded-lg">
                        <%= gettext("Sign in") %>
                      </button>
                    </a>
                    <a href={user_path(@conn, :new, locale: :en, next: get_next_path(@conn))}>
                      <button class="btn btn-outline-success rounded-lg">
                        <%= gettext("Sign up") %>
                      </button>
                    </a>
                  </li>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      <% end %>
      <%= if @ticker_text do %>
        <div class="cb-ticker-line-wrap">
          <div class="cb-ticker-content">
            <%= for _ <- 1..20 do %>
              <span class="cb-ticker-line"><%= @ticker_text %></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= @inner_content %>
    </div>

    <%= render_gon_script(@conn) %>
  </body>
</html>
