<html lang="en">
  <head>
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/cssbattle.js")}
    >
    </script>
  </head>
  <body></body>
</html>
