{
  "openapi": "3.1.0",
  "info": {
    "title": "Codebattle Public API",
    "version": "1.0.0",
    "description": "Narrow, me-centric API for bots, CLI and devices. Every request needs a personal token (Settings \u2192 API tokens): `Authorization: Bearer cbp_...`. Objects you are not related to answer 404. Limits are per user: 60 requests/min, 5 games/min and 30/day, 5 tournaments/day, at most 3 unfinished API-created tournaments. In v1 only additive changes happen."
  },
  "servers": [
    {
      "url": "https://codebattle.hexlet.io/public_api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Scopes: read, games:write, tournaments:write"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "invalid_token",
                  "insufficient_scope",
                  "not_found",
                  "validation_failed",
                  "quota_exceeded",
                  "rate_limited",
                  "api_disabled"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      },
      "Me": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "rating": {
            "type": "integer"
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ]
          },
          "lang": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "GamePlayer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "rating": {
            "type": [
              "integer",
              "null"
            ]
          },
          "lang": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_bot": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "result": {
            "type": "string"
          },
          "result_percent": {
            "type": [
              "number",
              "null"
            ],
            "description": "Hidden for opponents while the game is live"
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "waiting_opponent",
              "playing",
              "game_over",
              "timeout",
              "canceled"
            ]
          },
          "level": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "starts_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "timeout_seconds": {
            "type": "integer"
          },
          "ends_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "finishes_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "tournament_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "task": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "level": {
                "type": "string"
              }
            }
          },
          "players": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamePlayer"
            }
          }
        }
      },
      "Tournament": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "grade": {
            "type": "string"
          },
          "access_type": {
            "type": "string",
            "enum": [
              "public",
              "token"
            ]
          },
          "starts_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "players_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "players_limit": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rounds_limit": {
            "type": [
              "integer",
              "null"
            ]
          },
          "current_round": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "position": {
                "type": "integer"
              },
              "started_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "ends_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          },
          "break": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "ends_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          },
          "access_token": {
            "type": "string",
            "description": "Creator and moderators only"
          },
          "invite_url": {
            "type": "string",
            "description": "Creator and moderators only"
          }
        }
      },
      "RankingEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "place": {
            "type": "integer"
          },
          "score": {
            "type": "number"
          },
          "lang": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "TournamentInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "minLength": 3,
            "maxLength": 2000
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "In the future, at most 30 days ahead"
          },
          "level": {
            "type": "string",
            "enum": [
              "elementary",
              "easy",
              "medium",
              "hard"
            ]
          },
          "players_limit": {
            "type": "integer",
            "minimum": 2,
            "maximum": 64
          },
          "rounds_limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          },
          "timeout_mode": {
            "type": "string",
            "enum": [
              "per_task",
              "per_round_fixed"
            ]
          },
          "match_timeout_seconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 3600
          },
          "round_timeout_seconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 3600
          },
          "break_duration_seconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 600
          },
          "use_chat": {
            "type": "boolean"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The token lacks the scope",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found or not related to you",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit or quota exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationFailed": {
        "description": "Invalid parameters; unknown fields are rejected",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/me": {
      "get": {
        "summary": "Current user",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/Me"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/me/active_game": {
      "get": {
        "summary": "Current live game (null if none). Count down with ends_at - server_time.",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "game": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Game"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "server_time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/me/games": {
      "get": {
        "summary": "My finished games, newest first",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "games": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Game"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/me/tournaments": {
      "get": {
        "summary": "Tournaments I created, moderate or play",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournaments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tournament"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/tournaments/schedule": {
      "get": {
        "summary": "Public upcoming and active tournaments for the next 14 days",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournaments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tournament"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/tournaments": {
      "post": {
        "summary": "Create a private tournament (always grade open, tasks by level)",
        "security": [
          {
            "bearerAuth": [
              "tournaments:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournament": {
                      "$ref": "#/components/schemas/Tournament"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 2000
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "In the future, at most 30 days ahead"
                  },
                  "level": {
                    "type": "string",
                    "enum": [
                      "elementary",
                      "easy",
                      "medium",
                      "hard"
                    ]
                  },
                  "players_limit": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 64
                  },
                  "rounds_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "timeout_mode": {
                    "type": "string",
                    "enum": [
                      "per_task",
                      "per_round_fixed"
                    ]
                  },
                  "match_timeout_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "round_timeout_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "break_duration_seconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 600
                  },
                  "use_chat": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "starts_at",
                  "level"
                ]
              }
            }
          }
        }
      }
    },
    "/tournaments/{id}": {
      "get": {
        "summary": "Tournament card: related to you, or public and scheduled",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournament": {
                      "$ref": "#/components/schemas/Tournament"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "patch": {
        "summary": "Edit your tournament before it starts",
        "security": [
          {
            "bearerAuth": [
              "tournaments:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournament": {
                      "$ref": "#/components/schemas/Tournament"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 2000
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "In the future, at most 30 days ahead"
                  },
                  "level": {
                    "type": "string",
                    "enum": [
                      "elementary",
                      "easy",
                      "medium",
                      "hard"
                    ]
                  },
                  "players_limit": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 64
                  },
                  "rounds_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "timeout_mode": {
                    "type": "string",
                    "enum": [
                      "per_task",
                      "per_round_fixed"
                    ]
                  },
                  "match_timeout_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "round_timeout_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 3600
                  },
                  "break_duration_seconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 600
                  },
                  "use_chat": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tournaments/{id}/ranking": {
      "get": {
        "summary": "Ranking: full and paginated for the creator/moderators, top 20 plus your row for participants",
        "security": [
          {
            "bearerAuth": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ranking": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RankingEntry"
                      }
                    },
                    "me": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/RankingEntry"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "page_info": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          }
        ]
      }
    },
    "/tournaments/{id}/start": {
      "post": {
        "summary": "Start your tournament",
        "security": [
          {
            "bearerAuth": [
              "tournaments:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournament": {
                      "$ref": "#/components/schemas/Tournament"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/tournaments/{id}/cancel": {
      "post": {
        "summary": "Cancel your tournament",
        "security": [
          {
            "bearerAuth": [
              "tournaments:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tournament": {
                      "$ref": "#/components/schemas/Tournament"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/games": {
      "post": {
        "summary": "Create a game: against a bot, or waiting for an opponent who joins by link",
        "security": [
          {
            "bearerAuth": [
              "games:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "game": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "join_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "state": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "level",
                  "opponent"
                ],
                "properties": {
                  "level": {
                    "type": "string",
                    "enum": [
                      "elementary",
                      "easy",
                      "medium",
                      "hard"
                    ]
                  },
                  "opponent": {
                    "type": "string",
                    "enum": [
                      "bot",
                      "link"
                    ]
                  },
                  "timeout_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 3600,
                    "default": 600
                  }
                }
              }
            }
          }
        }
      }
    },
    "/games/{id}/cancel": {
      "post": {
        "summary": "Cancel your game that waits for an opponent",
        "security": [
          {
            "bearerAuth": [
              "games:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    }
  }
}
