{
  "presets": [
    ["@babel/env", {
      "targets": { "node": "current" },
      "ignoreBrowserslistConfig": true
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
