<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="p-4 text-center">
    <h1 class="mb-3">{gettext("Welcome")}</h1>
    <p class="mb-0">
      {gettext("You successfully authorized to the platform. Open your tournament link to start.")}
    </p>
  </div>
</div>
