<div class="cb-container cb-d-flex cb-flex-column cb-align-center cb-justify-center cb-vh-100">
  <div class="cb-p-4">
    <% header =
      Codebattle.Customization.get("maintenance_header") ||
        "<center><h1>Maintenance</h1></center>" %>
    <div class="cb-mb-3">
      {raw(header)}
    </div>

    <% body =
      Codebattle.Customization.get("maintenance_body") ||
        "We are currently performing maintenance on the site. Please come back later." %>
    <div class="cb-mb-3">
      {raw(body)}
    </div>
  </div>
</div>
