.block-timer {
  font-weight: 500;
  background: white;
  padding: 12px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'JetBrains Mono', monospace;
  border-radius: 15px;
}