<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {google_fonts_head()}
    <meta content="" name="author" />
    <meta content="7b3f1e2c1757ecf0" name="yandex-verification" />
    <link
      href="/assets/images/favicons/apple-icon-180x180.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="/assets/images/favicons/favicon-96x96.png"
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    <link
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <link href="/assets/images/favicons/manifest.json" rel="manifest" />
    <link href="/assets/images/favicons/favicon.ico" rel="shortcut icon" />
    <meta content="#b91d47" name="msapplication-TileColor" />
    <meta content="/assets/images/favicons/browserconfig.xml" name="msapplication-config" />
    <meta content="#ffffff" name="theme-color" />
    {render_tags_all(assigns[:meta_tags] || %{})}
    <.inertia_head content={@inertia_head} />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= if CodebattleWeb.Vite.dev?() do %>
      <script type="module" src="http://localhost:8080/@vite/client">
      </script>
      <script type="module">
        import { injectIntoGlobalHook } from "http://localhost:8080/@react-refresh";
        injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
      </script>
      <script type="module" src="http://localhost:8080/assets/js/app.js">
      </script>
      <link rel="stylesheet" href="http://localhost:8080/assets/css/style.scss" />
    <% else %>
      <link rel="stylesheet" href={CodebattleWeb.Vite.asset_path("app.css")} />
      <%= for href <- CodebattleWeb.Vite.css_paths("app.js") do %>
        <link rel="stylesheet" href={href} />
      <% end %>
      <script type="module" src={CodebattleWeb.Vite.asset_path("app.js")}>
      </script>
    <% end %>

    <.inertia_title>
      {assigns[:page_title] || Application.get_env(:codebattle, :app_title)}
    </.inertia_title>
    <style>
      :root { --cup-background-url: url("<%= Application.get_env(:codebattle, :cup_background_url) %>"); }
    </style>
    <!--Google Tag Manager-->
    <%= if FunWithFlags.enabled?(:use_external_js) do %>
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-N6C9TFH');
      </script>
    <% end %>
    <!--End Google Tag Manager-->
  </head>

  <body class="cb-bg-dark cb-position-relative cb-h-100">
    <div id="inertia-shared-props" data-props={inertia_shared_props_json(@conn)} hidden></div>
    <!--Google Tag Manager (noscript)-->
    <%= if FunWithFlags.enabled?(:use_external_js) do %>
      <noscript>
        <iframe
          height="0"
          src="https://www.googletagmanager.com/ns.html?id=GTM-N6C9TFH"
          style="display:none;visibility:hidden"
          width="0"
        ></iframe>
      </noscript>
    <% end %>

    <div class="cb-d-flex cb-bg-dark cb-flex-column cb-min-vh-100">
      <%= unless FunWithFlags.enabled?(:hide_header) do %>
        <div>
          <div class="cb-container-lg">
            <nav class="cb-navbar cb-navbar-dark cb-navbar-expand-sm cb-justify-between cb-px-0 main-nav">
              <a class="cb-navbar-brand cb-d-flex cb-align-end" href="/">
                <%= if Application.get_env(:codebattle, :logo_title_position) == "left" do %>
                  <div class="cb-d-none cb-d-sm-none cb-d-md-flex cb-d-lg-flex cb-flex-column text-gray cb-mr-1 cb-pb-1">
                    <span class="cb-fw-bold">
                      {Application.get_env(:codebattle, :logo_title)}
                    </span>
                    <span class="header-txt">
                      {Application.get_env(:codebattle, :app_subtitle)}
                    </span>
                  </div>
                <% end %>
                <%= if collab_logo(@current_user) do %>
                  <img
                    alt="collab icon"
                    class="cb-my-auto cb-mx-2 cb-pl-2 cb-pl-md-0 cb-pl-lg-0"
                    style="height:40px"
                    src={collab_logo(@current_user)}
                  />
                <% else %>
                  <img
                    alt="Logo"
                    class="cb-my-auto cb-pt-1 cb-pl-2 cb-pl-md-0 cb-pl-lg-0"
                    src={static_asset("images/logo.svg")}
                  />
                <% end %>
                <%= if collab_logo_minor(@current_user) do %>
                  <img
                    alt="collab icon"
                    class="cb-my-auto cb-mx-2 cb-pl-2 cb-pl-md-0 cb-pl-lg-0"
                    style="height:40px"
                    src={collab_logo_minor(@current_user)}
                  />
                <% end %>
                <%= if Application.get_env(:codebattle, :logo_title_position) != "left" do %>
                  <div class="cb-d-none cb-d-sm-none cb-d-md-flex cb-d-lg-flex cb-flex-column text-gray cb-ml-1 cb-pb-1">
                    <span class="cb-fw-bold e-title">
                      {Application.get_env(:codebattle, :logo_title)}
                    </span>
                    <span class="header-txt">
                      {Application.get_env(:codebattle, :app_subtitle)}
                    </span>
                  </div>
                <% end %>
              </a>
              <%= unless @current_user.is_guest do %>
                <button
                  aria-controls="navbarResponsive"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  class="cb-navbar-toggler cb-position-relative"
                  data-target="#navbarResponsive"
                  data-toggle="collapse"
                  type="button"
                >
                  <span class="cb-navbar-toggler-icon"></span>
                  <span id="invites-counter-id"></span>
                </button>

                <div class="cb-collapse cb-navbar-collapse" id="navbarResponsive">
                  <ul class="cb-navbar-nav cb-ml-auto cb-align-sm-center">
                    <%= if FunWithFlags.enabled?(:hide_invites) do %>
                      <li id="invites-root" class="cb-d-none"></li>
                    <% else %>
                      <li class="cb-nav-item cb-d-flex cb-justify-center cb-mb-2 cb-mb-sm-0">
                        <a
                          href="https://github.com/hexlet-codebattle/codebattle"
                          target="_blank"
                          class="cb-btn cb-d-flex cb-align-center cb-mx-auto cb-mx-sm-0 cb-mr-sm-3 cb-px-2 cb-px-sm-3 cb-py-1 cb-py-sm-2 cb-rounded-pill"
                          title="Star us on GitHub"
                        >
                          <span class="fab fa-github cb-mr-1 cb-mr-sm-2 cb-text-white"></span>
                          <span class="cb-text-white cb-fw-bold cb-d-none cb-d-sm-inline">
                            {gettext("Star us")}
                          </span>
                          <.github_stars_badge class="cb-ml-1 cb-ml-sm-2" />
                        </a>
                      </li>
                      <li class="cb-nav-item cb-d-flex cb-justify-center cb-mb-2 cb-mb-sm-0">
                        <span
                          id="online-root"
                          class="cb-d-flex cb-align-center cb-text-muted cb-mx-auto cb-mx-sm-0 cb-mr-sm-3"
                        >
                          0 Online
                        </span>
                      </li>
                      <li
                        class="cb-nav-item cb-d-flex cb-justify-center cb-mb-2 cb-mb-sm-0"
                        id="invites-root"
                      >
                        <div class="cb-btn cb-mx-auto cb-mx-sm-2">
                          <img
                            alt="invites"
                            src={static_asset("images/fight.svg")}
                            style="width:40px; height:40px"
                          />
                        </div>
                      </li>
                    <% end %>
                    <li class="cb-nav-item cb-dropdown">
                      <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        data-toggle="dropdown"
                        class="cb-nav-link noborder cb-d-flex cb-justify-center cb-align-center cb-px-0"
                        href={Routes.user_path(@conn, :show, @current_user.id)}
                      >
                        <div class="cb-d-flex cb-flex-column cb-justify-center cb-text-nowrap cb-mr-2">
                          <h5
                            id="navbar-current-user-name"
                            class="cb-text-white cb-text-right cb-mb-0 cb-text-break"
                          >
                            {@current_user.name}
                          </h5>
                        </div>

                        <img
                          alt="avatar"
                          class="attachment cb-ml-1"
                          src={avatar_url(@current_user)}
                          style="width:46px; height:46px"
                        />
                      </a>
                      <div
                        class="cb-dropdown-menu cb-dropdown-menu-right cb-bg-highlight-panel cb-rounded"
                        style="z-index:1030"
                      >
                        <%= if FunWithFlags.enabled?(:hide_user_dropdown) do %>
                          <div></div>
                        <% else %>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href={Routes.user_path(@conn, :show, @current_user.id)}
                          >
                            <span class="fas fa-user cb-mr-2"></span>
                            {gettext("My Profile")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href={Routes.user_setting_path(@conn, :edit)}
                          >
                            <span class="fas fa-cog cb-mr-2"></span>
                            {gettext("Settings")}
                          </a>
                          <div id="sound-toggle-root"></div>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href={hall_of_fame_path(@conn, :index)}
                          >
                            <span class="fas fa-medal cb-mr-2"></span>
                            {gettext("Hall of Fame")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href={Routes.tournaments_schedule_path(@conn, :index)}
                          >
                            <span class="fas fa-trophy cb-mr-2"></span>
                            {gettext("Tournaments")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href={task_path(@conn, :index)}
                          >
                            <span class="fas fa-tasks cb-mr-2"></span>
                            {gettext("Tasks")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href={clan_path(@conn, :index)}
                          >
                            <span class="fas fa-users cb-mr-2"></span>
                            {gettext("Clans")}
                          </a>
                          <div class="cb-dropdown-divider cb-border-color"></div>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href="https://github.com/hexlet-codebattle/codebattle"
                            target="_blank"
                          >
                            <span class="fab fa-github cb-mr-2"></span>
                            {gettext("SourceCode")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href="https://hexlet.io"
                            target="_blank"
                          >
                            <span class="fa fa-university cb-mr-2"></span>
                            {gettext("Hexlet")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href="https://discord.gg/dTpFXrYU3v"
                            target="_blank"
                          >
                            <span class="fab fa-discord cb-mr-2"></span>
                            {gettext("Join Discord")}
                          </a>
                          <a
                            class="cb-dropdown-item cb-text-white"
                            href="https://t.me/hexletcommunity/5"
                            target="_blank"
                          >
                            <span class="fab fa-telegram cb-mr-2"></span>
                            {gettext("Tg#codebattle")}
                          </a>
                          <div class="cb-dropdown-divider cb-border-color"></div>
                        <% end %>

                        <%= link to: session_path(@conn, :delete), method: "delete", class: "cb-dropdown-item cb-text-white" do %>
                          <span class="fas fa-sign-out-alt cb-mr-2"></span>
                          {gettext("Sign Out")}
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              <% else %>
                <ul class="cb-navbar-nav">
                  <li class="cb-nav-item cb-mx-1">
                    <a
                      class="cb-mr-2"
                      href={session_path(@conn, :new, locale: :en, next: get_next_path(@conn))}
                    >
                      <button class="cb-btn cb-btn-outline-success cb-rounded-lg">
                        {gettext("Sign in")}
                      </button>
                    </a>
                    <a href={user_path(@conn, :new, locale: :en, next: get_next_path(@conn))}>
                      <button class="cb-btn cb-btn-outline-success cb-rounded-lg">
                        {gettext("Sign up")}
                      </button>
                    </a>
                  </li>
                  <%= if Application.get_env(:codebattle, :dev_sign_in) do %>
                    <li class="cb-nav-item cb-mx-1">
                      {button("Dev",
                        to: "/auth/dev_login?locale=en&subscription_type=free",
                        class: "cb-btn cb-btn-outline-danger cb-rounded-lg"
                      )}
                      {button("Premium",
                        to: "/auth/dev_login?locale=en&subscription_type=premium",
                        class: "cb-btn cb-btn-outline-danger cb-rounded-lg"
                      )}
                      {button("Admin",
                        to: "/auth/dev_login?locale=en&subscription_type=admin",
                        class: "cb-btn cb-btn-outline-danger cb-rounded-lg"
                      )}
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      <% end %>

      <%= if @flash != %{} do %>
        <div class="cb-bg-dark cb-py-2">
          <div class="cb-container-lg">
            <%= for {type, message} <- @flash || [] do %>
              <div
                class={"cb-alert cb-alert-#{type} cb-alert-dismissible cb-fade cb-show cb-mb-2 cb-rounded-sm cb-shadow-sm alert-dark-theme"}
                role="alert"
              >
                {message}
                <button
                  type="button"
                  class="cb-close cb-text-white"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= if @ticker_text do %>
        <div class="cb-d-flex cb-ticker-line-wrap cb-p-2 cb-vw-100">
          <span class="cb-ticker-line cb-ticker-line-head">{@ticker_text}</span>
          <span class="cb-ticker-line cb-ticker-line-tail">{@ticker_text}</span>
        </div>
      <% end %>
      <%= unless @current_user.is_guest do %>
        <div id="main-channel-root" class="cb-d-none"></div>
      <% end %>
      <div class="content cb-bg-light"></div>
      <main class="cb-d-lg-flex">
        <%= if assigns[:show_lobby_loading_shell] do %>
          <div class="cb-lobby-loading-frame">
            {@inner_content}
            <.lobby_loading_shell />
          </div>
        <% else %>
          {@inner_content}
        <% end %>
      </main>
      <footer>
        <%= unless FunWithFlags.enabled?(:hide_footer) do %>
          <div class="footer-container cb-container-lg">
            <div>
              <p class="cb-text-nowrap cb-text-white cb-mb-0 cb-mr-4">
                ©
                <a class="cb-text-white" href="https://hexlet.io/">
                  Hexlet ltd
                </a>
                , 2026
              </p>
            </div>
            <div class="cb-d-none cb-d-lg-flex cb-d-md-flex cb-flex-column cb-align-center">
              <p class="cb-m-0">
                {link("Current version: #{app_short_version()}",
                  to: github_commit_link(),
                  class: "cb-btn-link cb-p-0 cb-text-white"
                )}
              </p>
              <p class="cb-text-white cb-m-0">
                <span>deployedAt UTC:&nbsp;{deployed_at()}</span>
              </p>
              <%= if FunWithFlags.enabled?(:use_external_js) do %>
                <a href="https://hits.seeyoufarm.com">
                  <img
                    class="cb-mb-1"
                    src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fhexlet-codebattle%2Fcodebattle&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"
                  />
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </footer>
    </div>
  </body>
</html>
