<!DOCTYPE html>
<html lang="en" class="cb-bg-dark">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {google_fonts_head()}
    <meta content="" name="author" />
    <meta content="7b3f1e2c1757ecf0" name="yandex-verification" />
    <link rel="canonical" href="https://codebattle.hexlet.io/" />
    <link
      href="/assets/images/favicons/apple-icon-180x180.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="/assets/images/favicons/favicon-96x96.png"
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    <link
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <link href="/assets/images/favicons/manifest.json" rel="manifest" />
    <link href="/assets/images/favicons/favicon.ico" rel="shortcut icon" />
    <meta content="#b91d47" name="msapplication-TileColor" />
    <meta content="/assets/images/favicons/browserconfig.xml" name="msapplication-config" />
    <meta content="#ffffff" name="theme-color" />
    {render_tags_all(assigns[:meta_tags] || %{})}
    <meta name="csrf-token" content={csrf_token_value()} />
    <title>{Application.get_env(:codebattle, :app_title)}</title>
    <style>
      :root { --cup-background-url: url("<%= Application.get_env(:codebattle, :cup_background_url) %>"); }
    </style>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

    <%= if CodebattleWeb.Vite.dev?() do %>
      <script type="module" src="http://localhost:8080/@vite/client">
      </script>
      <script type="module">
        import { injectIntoGlobalHook } from "http://localhost:8080/@react-refresh";
        injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
      </script>
      <script type="module" src="http://localhost:8080/assets/js/external.js">
      </script>
      <link rel="stylesheet" href="http://localhost:8080/assets/css/external.scss" />
    <% else %>
      <link
        phx-track-static
        rel="stylesheet"
        href={CodebattleWeb.Vite.asset_path("external.css")}
      />
      <%= for href <- CodebattleWeb.Vite.css_paths("external.js") do %>
        <link rel="stylesheet" href={href} />
      <% end %>
      <script phx-track-static type="module" src={CodebattleWeb.Vite.asset_path("external.js")}>
      </script>
    <% end %>
  </head>
  <body>
    <div class="cb-d-flex cb-flex-column cb-min-vh-100 cb-bg-dark">
      <%= if assigns[:show_header] do %>
        <div>
          <div class="cb-container-lg">
            <nav class="cb-navbar cb-navbar-dark cb-navbar-expand-sm cb-justify-between cb-px-0 main-nav">
              <a class="cb-navbar-brand cb-d-flex cb-align-end" href="/">
                <%= if Application.get_env(:codebattle, :logo_title_position) == "left" do %>
                  <div class="cb-d-none cb-d-sm-none cb-d-md-flex cb-d-lg-flex cb-flex-column text-gray cb-mr-1 pb">
                    <span class="cb-fw-bold e-title">
                      {Application.get_env(:codebattle, :logo_title)}
                    </span>
                    <span class="header-txt">
                      {Application.get_env(:codebattle, :app_subtitle)}
                    </span>
                  </div>
                <% end %>
                <%= if collab_logo(@current_user) do %>
                  <img
                    alt="collab icon"
                    class="cb-my-auto cb-mx-2 cb-pl-2 cb-pl-md-0 cb-pl-lg-0"
                    style="height:40px"
                    src={collab_logo(@current_user)}
                  />
                <% else %>
                  <img
                    alt="Logo"
                    class="cb-my-auto cb-pt-1 cb-pl-2 cb-pl-md-0 cb-pl-lg-0"
                    src={static_asset("images/logo.svg")}
                  />
                <% end %>
                <%= if collab_logo_minor(@current_user) do %>
                  <img
                    alt="collab icon"
                    class="cb-my-auto cb-mx-2 cb-pl-2 cb-pl-md-0 cb-pl-lg-0"
                    style="height:40px"
                    src={collab_logo_minor(@current_user)}
                  />
                <% end %>
                <%= if Application.get_env(:codebattle, :logo_title_position) != "left" do %>
                  <div class="cb-d-none cb-d-sm-none cb-d-md-flex cb-d-lg-flex cb-flex-column text-gray cb-ml-1 pb">
                    <span class="cb-fw-bold">
                      {Application.get_env(:codebattle, :logo_title)}
                    </span>
                    <span class="header-txt">
                      {Application.get_env(:codebattle, :app_subtitle)}
                    </span>
                  </div>
                <% end %>
              </a>
              <%= unless @current_user.is_guest do %>
                <button
                  aria-controls="navbarResponsive"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  class="cb-navbar-toggler cb-position-relative"
                  data-target="#navbarResponsive"
                  data-toggle="collapse"
                  type="button"
                >
                  <span class="cb-navbar-toggler-icon"></span>
                  <span id="invites-counter-id"></span>
                </button>

                <div class="cb-collapse cb-navbar-collapse" id="navbarResponsive">
                  <ul class="cb-navbar-nav cb-ml-auto">
                    <li class="cb-nav-item cb-dropdown">
                      <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="cb-nav-link noborder cb-d-flex cb-justify-center cb-px-0"
                        data-toggle="dropdown"
                        href="#"
                      >
                        <div class="cb-d-flex cb-flex-column cb-justify-center cb-mr-2">
                          <h5 class="cb-text-white cb-text-right cb-mb-0 cb-text-break">
                            {@current_user.name}
                          </h5>
                        </div>

                        <img
                          alt="avatar"
                          class="attachment cb-ml-1"
                          src={avatar_url(@current_user)}
                          style="width:46px; height:46px"
                        />
                      </a>
                      <div class="cb-dropdown-menu cb-dropdown-menu-right" style="z-index:1030">
                        <%= form_for @conn, session_path(@conn, :delete), [as: :session, method: :delete], fn _f -> %>
                          <button type="submit" class="cb-dropdown-item">
                            <span class="fas fa-sign-out-alt cb-mr-2"></span>
                            {gettext("Sign Out")}
                          </button>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              <% else %>
                <ul class="cb-navbar-nav">
                  <li class="cb-nav-item cb-mx-1">
                    <a
                      class="cb-mr-2"
                      href={session_path(@conn, :new, locale: :en, next: get_next_path(@conn))}
                    >
                      <button class="cb-btn cb-btn-outline-success cb-rounded-lg">
                        {gettext("Sign in")}
                      </button>
                    </a>
                    <a href={user_path(@conn, :new, locale: :en, next: get_next_path(@conn))}>
                      <button class="cb-btn cb-btn-outline-success cb-rounded-lg">
                        {gettext("Sign up")}
                      </button>
                    </a>
                  </li>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      <% end %>
      <%= if @ticker_text do %>
        <div class="cb-ticker-line-wrap">
          <div class="cb-ticker-content">
            <%= for _ <- 1..20 do %>
              <span class="cb-ticker-line">{@ticker_text}</span>
            <% end %>
          </div>
        </div>
      <% end %>

      {@inner_content}
    </div>
  </body>
</html>
