@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'pixy';
    src: url('../static/fonts/pixy.otf'); /* IE9 Compat Modes */
    src: url('../static/fonts/pixy.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../static/fonts/pixy.woff') format('woff'); /* Modern Browsers */
}
