$body-bg: #e5e5e5;
$success: #82b792;
$secondary: #477591;
$link-color: black;
$error: #dc3545;
$orange: rgba(238, 55, 55, 0.76);
$link-hover-color: $orange;
$border-radius-sm: 0%;
$btn-border-width: 2px;
$gold: #daa520;
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~nprogress/nprogress.css';
@import 'gamePreview';
@import '~react-contexify/dist/ReactContexify.css';

$fa-font-path: '/fonts';

@import 'fonts';
@import '~font-mfizz/dist/font-mfizz.css';
@import 'tournaments';
@import 'taskComponent';
@import 'scrollTable';

em-emoji-picker {
  position: absolute;
  bottom: 52px;
  right: 96px;
  height: 254px;

  border-radius: 10px;
  --shadow: 0px 0px 15px var(--gray);
}

.xstate {
  height: 1000px;
}

@keyframes checking_fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes checking_fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

[data-editor-state='checking'] {
  animation: checking_fade 1000ms infinite;
  -webkit-animation: checking_fade 1000ms infinite;
}

.dark-bg {
  background: $dark;
}

.bg-winner {
  background: $gold;
}

[data-player-type] {
  --flag-color: var(--white);
  background: linear-gradient(to top, var(--flag-color), var(--white) 15%);
}

[data-player-type='current_user'] {
  --flag-color: var(--success);
}

[data-player-type='player'] {
  --flag-color: var(--gray);
}

[data-player-type='opponent'] {
  --flag-color: var(--danger);
}

.alert {
  border-radius: unset;
}

.header-txt {
  font-size: 18px;
  line-height: 18px;
}

.text-black {
  color: black !important;
}

.text-orange {
  color: $orange !important;
}

.bg-gray {
  background-color: rgba(128, 128, 128, 1);
}

.bg-orange {
  background-color: $orange;
}

.border-gray {
  border: 2px solid #d9d9d9;
}

.btn {
  border-radius: unset;
}

.btn-orange {
  border-color: $orange;
  background: $orange;
  color: var(--white);
}

.btn-orange:hover {
  background: var(--red);
  color: var(--white);
}

.btn-outline-orange {
  border-color: $orange;
  color: $orange;
  @include button-outline-variant($orange);
}

.btn-check:hover {
  color: #ffffff;
}

.btn-hover {
  visibility: hidden;
}
@media (max-width: $sm) {
  .btn-hover {
    visibility: visible;
  }
}

.game-item:hover .btn-hover {
  visibility: visible;
}

a {
  transition: color ease-in 0.1s;
}

.react-calendar-heatmap {
  .color-huge {
    fill: #1e6823;
  }

  .color-huge:hover {
    fill: #0e5813;
  }

  .color-large {
    fill: #44a340;
  }

  .color-large:hover {
    fill: #349330;
  }

  .color-small {
    fill: #d6e685;
  }

  .color-small:hover {
    fill: #c6d675;
  }

  .color-empty {
    fill: #eee;
  }

  .color-empty:hover {
    fill: #ccc;
  }
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap {
  font-size: 8px;
}

.cb-builder-argument-input {
  min-width: 150px;
}

.cb-builder-type-selector {
  min-width: 150px;
}

.cb-game-score-won {
  color: var(--green) !important;
}

.cb-game-score-lost {
  color: var(--red) !important;
}

.cb-game-score-draw {
  color: var(--black) !important;
}

.cb-user-online {
  color: var(--green) !important;
}

.cb-user-offline {
  color: var(--white) !important;
  border: 0.2rem solid transparent;
  border-color: var(--gray);
  border-radius: 0.5rem;
}

.cb-timer-progress {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100%;
}

.cb-slider {
  height: 32px;

  &:hover {
    cursor: pointer;

    .cb-slider-timeline {
      transform: translateY(-50%) scale(1, 1.095);
    }

    .cb-slider-handle {
      opacity: 1;
    }
  }
}

.cb-slider-timeline {
  height: 7px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s;
}

.cb-slider-action {
  width: 5px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 15;
}

.cb-slider-action:hover {
  display: block;
  height: 28px;
}

.cb-slider-handle {
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.28s;
}

.cb-slider-handle-button {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.cb-slider-bar {
  top: 0;
  bottom: 0;
  left: 0;
}

.cb-langs-dropdown {
  height: 300px;
  overflow-y: auto;
}

.cb-username-td {
  max-width: 350px;
}

.cb-check-result-bar {
  width: 144px;
  height: 9px;
  background: white;
  position: relative;
  border-radius: 10px;

  @media (max-width: $sm) {
    & {
      border-width: 1px;
    }
  }

  & > .cb-asserts-progress {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background: #809b88;
  }
  &.failure {
    & > .cb-asserts-progress {
      background: $success;
    }
  }
  &.error {
    & > .cb-asserts-progress {
      background: $error;
      width: 100% !important;
    }
  }
  &.started {
    background: #bebebe;
  }
}

.cb-player-loading {
  position: absolute;
  left: 55px;
}

.cb-polyglot {
  width: 65px;
  height: 65px;
  background: url('../static/images/achievements/polyglot.png');
  background-size: cover;
  padding: 5px;
}

.cb-polyglot-icons {
  max-height: 45px;
  overflow: hidden;
}

.cb-profile {
  width: 230px;
  height: auto;
}

.cb-username {
  font-size: 27px;
}

.cb-heading {
  font-size: 27px;
}

.cb-profile-avatar {
  width: min(100%, 180px);
}

.cb-user-avatar {
  width: 25px;
}

.cb-sort-arrow {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  &.asc {
    border-bottom: 5px solid #666;
    margin-bottom: 3px;
  }

  &.desc {
    border-top: 5px solid #666;
    padding-bottom: 2px;
  }
}

.cb-private-text {
  color: var(--indigo);
}

.cb-toast-close {
  top: 5px;
  right: 10px;
}

.cb-messages-list {
  top: 5px;

  @media (max-width: $sm) {
    height: 240px;
    max-height: 80%;
  }
}

.cb-lobby-widget-container {
  min-height: 400px;
  max-height: 500px;
}

.cb-messages-container {
  height: 400px;

  @media (max-width: $sm) {
    height: auto;
    max-height: 400px;
  }
}

.cb-players-container {
  max-height: 500px;
}

.cb-height-info {
  height: 300px;

  .nav-link.active {
    color: black;
    border-bottom: 1px;
    background-color: white;
  }

  .nav-link:hover {
    color: #b60314;
  }

  @media (max-width: $sm) {
    height: auto;
  }
}

.cb-mute-icon {
  position: fixed;
  bottom: 32px;
  right: 190px;
  z-index: 5000;
}

.cursor-pointer {
  cursor: pointer;
}

.sort-arrows:before,
.sort-arrows:after {
  border: 5px solid transparent;
  content: '';
  display: block;
}

.sort-arrows:before {
  border-bottom-color: #666;
}

.sort-arrows:after {
  border-top-color: #666;
  margin-top: 2px;
  margin-bottom: -5px;
}

.x-bottom-0 {
  bottom: 0;
}

.x-bottom-75 {
  bottom: 75%;
}

.x-outline-none {
  outline: none;
}

.x-intent-background {
  background-color: rgba($black, 0.25);
}

.x-opacity-0 {
  opacity: 0;
}

.cb-opacity-50 {
  opacity: 0.5;
}

.cb-opacity-75 {
  opacity: 0.75;
}

.x-bg-gray {
  background-color: $gray-300 !important;
}

.x-rounded-bottom-right {
  border-bottom-right-radius: $border-radius !important;
}

.x-rounded-bottom-left {
  border-bottom-left-radius: $border-radius !important;
}

.x-username-truncated {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bind-social {
  padding: 0;
  border: 0;
  background: none;

  &:hover:not([disabled]) {
    color: $orange;
    text-decoration: none;
    box-shadow: 0 1px 0 0 currentColor;
    transition-property: box-shadow, color;
    transition-duration: 0.33s;
    transition-timing-function: ease-out;
  }
}

.game-room-preview-enter,
.game-room-builder-enter,
.game-room-builder-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}

.game-room-preview-enter-active,
.game-room-builder-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.game-room-preview-exit,
.game-room-builder-exit {
  opacity: 1;
  transform: translateX(0%);
}

.game-room-preview-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.game-room-preview-enter-active,
.game-room-preview-exit-active,
.game-room-builder-enter-active,
.game-room-builder-exit-active {
  transition: opacity 200ms, transform 200ms;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.animate {
  animation-name: scale;
  animation-duration: 0.7s;
}

.nav-tabs {
  border-bottom: 1px solid black;
  .nav-item.active {
    color: var(--black);
  }

  .nav-item.active,
  .nav-item:hover {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }

  .nav-item:not(.active):hover {
    color: var(--gray);
    background: var(--light);
  }
}

.popover {
  max-width: 100%;
  /* Max Width of the popover (depending on the container!) */
}

.cb-row-avatars {
  direction: rtl;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cb-row-avatar {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.cb-row-avatar:nth-child(n + 2) {
  margin-right: -15px;
}

.cb-row-avatars:hover .cb-row-avatar:nth-child(n + 2) {
  margin-right: 3px;
}

p,
td {
  font-family: 'Montserrat', sans-serif;
}

main {
  flex: 1 1 auto;
}

.create-game-btn:hover {
  background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  text-shadow: 0 1px 0 #fff;
}

.react-monaco-editor-container {
  flex-grow: 1;
}

.game-control-container {
  width: 250px;
  min-width: 250px;
}

@media (max-width: $xl) {
  .cb-heading {
    font-size: 21px;
  }
}

@media (max-width: $lg) {
  .cb-heading {
    font-size: 18px;
  }
  .cb-stats-number {
    font-size: 22px;
  }
  .lead {
    font-size: 14px;
  }
}

@media screen and (min-width: $md) {
  .modal-dialog {
    max-width: 600px; /* New width for default modal */
  }
}

@media (max-width: $sm) {
  .cb-heading {
    font-size: 20px;
  }
  .cb-stats-number {
    font-size: 30px;
  }
  .lead {
    font-size: 16px;
  }
  .game-control-container {
    width: 100%;
  }
  .main-nav {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.invites-counter {
  top: 0px;
  left: 0px;
}

.tag-btn-outline-orange {
  border-color: $orange;
  color: $orange;
  @include button-outline-variant($orange);
}

.game-chat-container {
  min-width: 250px;
}

.hidden {
  display: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.invalid-feedback {
  color: red;
  display: block;
}
a:hover{
  color: rgb(49, 47, 47);
  text-decoration: none;
}
.back-link {
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  background-color: #5389aa;
  margin-bottom: 0.5rem;
}
.back-link:hover{
  // background-color: #3b637c;
  border: 2px solid #4b809e;
  color: #fff;
}

.cb-editor-remote-selection {
  pointer-events: auto;
  opacity: 0.3;
}

.cb-editor-remote-cursor {
  border: 1px solid;
}

.cb-remote-opponent {
  background-color: $orange;
  border-color: red;
}

.cb-remote-player {
  background-color: var(--gray);
  border-color: var(--secondary);
}

.cb-loading-background {
  background: rgba(255, 255, 255, 0.3);
}

.cb-vw-75 {
  width: 75vw;
}

.cb-right-scroll-control {
  background: linear-gradient(to right, transparent 0, var(--light) 12px ,var(--light) 100%);
}

.cb-left-scroll-control {
  background: linear-gradient(to left, transparent 0, var(--light) 12px ,var(--light) 100%);
}

// adapted styles from bootstrap 5.3

.cb-overflow-x-auto {
  overflow-x: auto;
}

.cb-overflow-x-hidden {
  overflow-x: hidden;
}
.cb-overflow-x-visible {
  overflow-x: visible;
}

.cb-overflow-x-scroll {
  overflow-x: scroll;
}

.cb-overflow-y-auto {
  overflow-y: auto;
}

.cb-overflow-y-hidden {
  overflow-y: hidden;
}
.cb-overflow-y-visible {
  overflow-y: visible;
}

.cb-overflow-y-scroll {
  overflow-y: scroll;
}

.cb-grid-divider {
  position: relative;
}
