<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">Edit task pack</h1>
  {render(
    "_form.html",
    Map.put(assigns, :action, Routes.task_pack_path(@conn, :update, @task_pack))
  )}
</div>
