<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded-sm cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">{gettext("Task Packs")}</h1>
  {link(gettext("Create new task pack"),
    to: CodebattleWeb.Router.Helpers.task_pack_path(@conn, :new),
    class: "cb-btn cb-btn-success cb-mt-2 cb-rounded"
  )}
  {link(gettext("Tasks"),
    to: CodebattleWeb.Router.Helpers.task_path(@conn, :index),
    class: "cb-btn cb-btn-secondary cb-mt-2 cb-ml-2 cb-rounded"
  )}
  <div class="cb-table-responsive cb-mt-4">
    <table class="cb-table cb-table-sm">
      <thead class="cb-text">
        <tr>
          <th class="cb-border-color cb-border-bottom-0">name</th>
          <th class="cb-border-color cb-border-bottom-0">state</th>
          <th class="cb-border-color cb-border-bottom-0">visibility</th>
          <th class="cb-border-color cb-border-bottom-0">task_ids</th>
          <th class="cb-border-color cb-border-bottom-0">actions</th>
        </tr>
      </thead>
      <tbody>
        <%= for task_pack <- @task_packs do %>
          <tr>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task_pack.name}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task_pack.state}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {task_pack.visibility}
            </td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {render_task_ids(task_pack)}
            </td>
            <td class="cb-align-middle cb-text-nowrap cb-text-white cb-border-color">
              <div class="cb-d-flex">
                <%= if !Codebattle.User.admin?(@current_user) do %>
                  {link(gettext("Show"),
                    to: CodebattleWeb.Router.Helpers.task_pack_path(@conn, :show, task_pack.id),
                    class: "cb-btn cb-btn-sm cb-btn-secondary cb-rounded"
                  )}
                <% end %>
                <%= if Codebattle.User.admin?(@current_user) do %>
                  {link(gettext("Show"),
                    to: CodebattleWeb.Router.Helpers.task_pack_path(@conn, :show, task_pack.id),
                    class: "cb-btn cb-btn-sm cb-btn-secondary cb-rounded"
                  )}
                  {button("Activate",
                    to:
                      CodebattleWeb.Router.Helpers.task_pack_activate_path(
                        @conn,
                        :activate,
                        task_pack.id
                      ),
                    method: "patch",
                    class: "cb-btn cb-btn-sm cb-btn-success cb-rounded"
                  )}
                  {button("Disable",
                    to:
                      CodebattleWeb.Router.Helpers.task_pack_disable_path(
                        @conn,
                        :disable,
                        task_pack.id
                      ),
                    method: "patch",
                    class: "cb-btn cb-btn-sm cb-btn-danger cb-rounded"
                  )}
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
