<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">Create your own task pack</h1>
  <p class="cb-text-center cb-text-white">
    Use it for tournaments to play with tasks that you really want
  </p>
  {render("_form.html", Map.put(assigns, :action, Routes.task_pack_path(@conn, :create)))}
</div>
