<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">
    <span>{@task_pack.name}</span>
  </h1>
  <h3 class="cb-text-center cb-mt-4 cb-text-white">Params</h3>
  <div class="cb-d-flex cb-text-white cb-flex-wrap cb-align-center cb-justify-around cb-text-muted">
    <span>Visibility: {@task_pack.visibility}</span>
    <span>State: {@task_pack.state}</span>
    <%= if @task_pack.creator_id do %>
      <span>Creator_id: {@task_pack.creator_id}</span>
    <% end %>
    <%= if @tasks != [] and Enum.all?(@tasks, & &1.time_to_solve_sec) do %>
      <span>Total time: {div(Enum.reduce(@tasks, 0, &(&1.time_to_solve_sec + &2)), 60)} min</span>
    <% end %>
  </div>

  <h3 class="cb-text-center cb-text-white cb-mt-4">Tasks</h3>
  <div class="cb-table-responsive cb-mt-4">
    <table class="cb-table cb-table-sm">
      <thead class="cb-text">
        <tr>
          <th class="cb-border-color cb-border-bottom-0">index</th>
          <th class="cb-border-color cb-border-bottom-0">id</th>
          <th class="cb-border-color cb-border-bottom-0">name</th>
          <th class="cb-border-color cb-border-bottom-0">level</th>
          <th class="cb-border-color cb-border-bottom-0">tags</th>
          <th class="cb-border-color cb-border-bottom-0">origin</th>
          <th class="cb-border-color cb-border-bottom-0">state</th>
          <th class="cb-border-color cb-border-bottom-0">time</th>
          <th class="cb-border-color cb-border-bottom-0">visibility</th>
        </tr>
      </thead>
      <tbody>
        <%= for {task_id, index} <- Enum.with_index(@task_pack.task_ids) do %>
          <%= if task = Enum.find(@tasks, fn task -> task.id == task_id end) do %>
            <tr>
              <td class="cb-align-middle text cb-text-white cb-border-color">{index}</td>
              <td class="cb-align-middle text cb-text-white cb-border-color">{task.id}</td>
              <td class="cb-align-middle text cb-text-white cb-border-color">
                {link(task.name,
                  to: Routes.task_path(@conn, :show, task.id),
                  class: "cb-ml-auto cb-text-primary"
                )}
              </td>
              <td class="cb-align-middle text cb-text-white cb-border-color">{task.level}</td>
              <td class="cb-align-middle text cb-text-white cb-border-color">
                {Enum.join(task.tags, ", ")}
              </td>
              <td class="cb-align-middle text cb-text-white cb-border-color">{task.origin}</td>
              <td class="cb-align-middle text cb-text-white cb-border-color">{task.state}</td>
              <td class="cb-align-middle text cb-text-white cb-border-color">
                {task.time_to_solve_sec}
              </td>
              <td class="cb-align-middle text cb-text-white cb-border-color">
                {task.visibility}
              </td>
            </tr>
          <% else %>
            <span className="cb-text">Task not found for id = {task_id}</span>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="cb-d-flex">
    <%= if Codebattle.TaskPack.can_access_task_pack?(@task_pack, @current_user) do %>
      {link("Edit",
        to: Routes.task_pack_path(@conn, :edit, @task_pack),
        class: "cb-btn cb-btn-success cb-mt-2 cb-rounded"
      )}
    <% end %>

    <%= if Codebattle.TaskPack.can_access_task_pack?(@task_pack, @current_user) do %>
      {link("Delete",
        to: Routes.task_pack_path(@conn, :delete, @task_pack),
        class: "cb-btn cb-btn-danger cb-mt-2 cb-rounded",
        method: :delete,
        data: [confirm: "Delete task pack?"]
      )}
    <% end %>

    {link("Back", to: Routes.task_pack_path(@conn, :index), class: "cb-ml-auto cb-text-white")}
  </div>
</div>
