use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).

# Configure your database
config :codebattle, Codebattle.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "codebattle_dev",
  username: "postgres",
  password: "postgres",
  hostname: "localhost",
  pool_size: 20

config :codebattle, CodebattleWeb.Endpoint,
  secret_key_base: "RpcjHVtebM0kFBG4foGoMSr0Y3GAeGjzVDkPkXlevqnUcUwaV6SxvJFA0URHOF/7"

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "SECRET",
  client_secret: "SECRET"
