import os
import sys
import json

script_dir = os.path.dirname(__file__)
runner_dir = os.path.join(script_dir, '..')
sys.path.append(runner_dir)

import runner

runner.Runner(json.loads(<%= Jason.encode!(arguments) %>)).call()
