@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: 'pixy';
  src: url('../static/fonts/pixy.otf'); /* IE9 Compat Modes */
  src:
    url('../static/fonts/pixy.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../static/fonts/pixy.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v19/-F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'cb-display-bold';
  src: url('../static/fonts/CBDisplayBold.ttf');
}
