<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mb-3">
  <h1 class="cb-text-center cb-text-white">{gettext("Tasks")}</h1>
  {link(gettext("Task packs"),
    to: CodebattleWeb.Router.Helpers.task_pack_path(@conn, :index),
    class: "cb-btn cb-btn-secondary cb-mt-2 cb-ml-2 cb-rounded"
  )}
  <div class="cb-table-responsive cb-mt-4">
    <table class="cb-table cb-table-sm">
      <thead class="cb-text">
        <tr>
          <th class="cb-border-color cb-border-bottom">id</th>
          <th class="cb-border-color cb-border-bottom">name</th>
          <th class="cb-border-color cb-border-bottom">level</th>
          <th class="cb-border-color cb-border-bottom">time_to_solve</th>
          <th class="cb-border-color cb-border-bottom">base_static_score</th>
          <th class="cb-border-color cb-border-bottom">tags</th>
          <th class="cb-border-color cb-border-bottom">origin</th>
          <th class="cb-border-color cb-border-bottom">state</th>
          <th class="cb-border-color cb-border-bottom">visibility</th>
          <th class="cb-border-color cb-border-bottom">updated_at</th>
          <th class="cb-border-color cb-border-bottom">actions</th>
        </tr>
      </thead>
      <tbody>
        <%= for task <- @tasks do %>
          <tr>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task.id}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task.name}</td>
            <td class="cb-align-middle cb-text-nowrap cb-text-white cb-border-color">
              <div class="cb-d-flex">
                <div class="cb-p-1 cb-m-1 bg-gray cb-rounded">
                  <img alt={task.level} src={"/assets/images/levels/#{task.level}.svg"} />
                </div>
              </div>
            </td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {task.time_to_solve_sec}
            </td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task.base_score}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {Enum.join(task.tags, ", ")}
            </td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task.origin}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task.state}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">{task.visibility}</td>
            <td class="cb-align-middle text cb-text-white cb-border-color">
              {format_datetime(task.updated_at)}
            </td>
            <td class="cb-align-middle cb-text-nowrap cb-text-white cb-border-color">
              <div class="cb-d-flex">
                <%= if !Codebattle.User.admin?(@current_user) do %>
                  {link(gettext("Show"),
                    to: CodebattleWeb.Router.Helpers.task_path(@conn, :show, task.id),
                    class: "cb-btn cb-btn-sm cb-btn-secondary cb-rounded"
                  )}
                <% end %>
                <%= if Codebattle.User.admin?(@current_user) do %>
                  {link(gettext("Show"),
                    to: CodebattleWeb.Router.Helpers.task_path(@conn, :show, task.id),
                    class: "cb-btn cb-btn-sm cb-btn-secondary cb-rounded"
                  )}
                  {button("Activate",
                    to:
                      CodebattleWeb.Router.Helpers.task_activate_path(@conn, :activate, task.id),
                    method: "patch",
                    class: "cb-btn cb-btn-sm cb-btn-success cb-rounded"
                  )}
                  {button("Disable",
                    to: CodebattleWeb.Router.Helpers.task_disable_path(@conn, :disable, task.id),
                    method: "patch",
                    class: "cb-btn cb-btn-sm cb-btn-danger cb-rounded"
                  )}
                  {button("Delete",
                    to: CodebattleWeb.Router.Helpers.task_path(@conn, :delete, task.id),
                    method: "delete",
                    class: "cb-btn cb-btn-sm cb-btn-danger cb-rounded"
                  )}
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
