.container-xl.bg-white.shadow-sm.rounded.py-4.mb-3
  h1.text-center Create your own task
  p.text-center Play with your friends or make it public for all players
  = render "_form.html", Map.put(assigns, :action, Routes.task_path(@conn, :create))
