CODEBATTLE_PORT={{ codebattle_port }}
CODEBATTLE_DB_USERNAME={{ codebattle_db_username }}
CODEBATTLE_DB_PASSWORD={{ codebattle_db_password }}
CODEBATTLE_DB_HOSTNAME={{ codebattle_db_hostname }}
CODEBATTLE_DB_NAME={{ codebattle_db_name }}
CODEBATTLE_DB_PORT={{ codebattle_db_port }}
CODEBATTLE_SECRET_KEY_BASE={{ codebattle_secret_key_base }}
CODEBATTLE_LIVE_VIEW_SALT={{ codebattle_live_view_salt }}
GITHUB_CLIENT_ID={{ codebattle_github_id }}
GITHUB_CLIENT_SECRET={{ codebattle_github_secret }}
DISCORD_CLIENT_ID={{ codebattle_discord_id }}
DISCORD_CLIENT_SECRET={{ codebattle_discord_secret }}
ONESIGNAL_APP_ID={{ codebattle_onesignal_app_id }}
ONESIGNAL_API_KEY={{ codebattle_onesignal_api_key }}
FIREBASE_API_KEY={{ codebattle_firebase_api_key }}
FIREBASE_SENDER_ID={{ codebattle_firebase_messaging_sender_id }}
ROLLBAR_API_KEY={{ codebattle_rollbar_api_key }}
