GITHUB_CLIENT_ID={{ codebattle_vault_github_client_id }}
GITHUB_CLIENT_SECRET={{ codebattle_vault_github_secret }}
CODEBATTLE_DATABASE_USERNAME={{ codebattle_vault_db_username }}
CODEBATTLE_DATABASE_PASSWORD={{ codebattle_vault_db_password }}
CODEBATTLE_DATABASE_HOSTNAME={{ codebattle_vault_db_hostname }}
SECRET_KEY_BASE={{ codebattle_vault_secret_key_base }}
