GITHUB_CLIENT_ID={{ vault_codebattle_github_id }}
GITHUB_CLIENT_SECRET={{ vault_codebattle_github_secret }}
CODEBATTLE_DB_USERNAME={{ vault_codebattle_db_username }}
CODEBATTLE_DB_PASSWORD={{ vault_codebattle_db_password }}
CODEBATTLE_DB_HOSTNAME={{ vault_codebattle_db_hostname }}
CODEBATTLE_DB_NAME={{ vault_codebattle_db_name }}
SECRET_KEY_BASE={{ vault_codebattle_secret_key_base }}
CODEBATTLE_PORT={{ codebattle_port }}
CODEBATTLE_DB_PORT={{ codebattle_db_port }}
CODEBATTLE_DOCKER_TEST_TIMEOUT={{ codebattle_docker_test_timeout }}
ONESIGNAL_APP_ID={{ vault_codebattle_onesignal_app_id }}
ONESIGNAL_API_KEY={{ vault_codebattle_onesignal_api_key }}
