codebattle_port            = "{{ codebattle_port }}"
codebattle_secret_key_base = "{{ codebattle_secret_key_base }}"
codebattle_live_view_salt  = "{{ codebattle_live_view_salt }}"
codebattle_db_hostname     = "{{ codebattle_db_hostname }}"
codebattle_db_username     = "{{ codebattle_db_username }}"
codebattle_db_password     = "{{ codebattle_db_password }}"
codebattle_db_name         = "{{ codebattle_db_name }}"
codebattle_db_port         = "{{ codebattle_db_port }}"
discord_client_id          = "{{ codebattle_discord_id }}"
discord_client_secret      = "{{ codebattle_discord_secret }}"
github_client_secret       = "{{ codebattle_github_secret }}"
github_client_id           = "{{ codebattle_github_id }}"
onesignal_api_key          = "{{ codebattle_onesignal_api_key }}"
onesignal_app_id           = "{{ codebattle_onesignal_app_id }}"
firebase_api_key           = "{{ codebattle_firebase_api_key }}"
firebase_sender_id         = "{{ codebattle_firebase_messaging_sender_id }}"
rollbar_api_key            = "{{ codebattle_rollbar_api_key }}"
