codebattle_port            = "{{ codebattle_port }}"
codebattle_secret_key_base = "{{ vault_codebattle_secret_key_base  }}"
codebattle_live_view_salt = "{{ vault_live_view_salt  }}"
codebattle_db_hostname     = "{{ vault_codebattle_db_hostname  }}"
codebattle_db_username     = "{{ vault_codebattle_db_username  }}"
codebattle_db_password     = "{{ vault_codebattle_db_password  }}"
codebattle_db_name         = "{{ vault_codebattle_db_name  }}"
codebattle_db_port         = "{{ vault_codebattle_db_port  }}"
github_client_secret       = "{{ vault_codebattle_github_secret  }}"
github_client_id           = "{{ vault_codebattle_github_id  }}"
onesignal_api_key          = "{{ vault_codebattle_onesignal_api_key  }}"
onesignal_app_id           = "{{ vault_codebattle_onesignal_app_id  }}"
