<%= form_for(@changeset, @action, [class: "cb-col-8 cb-offset-2"], fn f -> %>
  <div class="cb-form-group">
    <div>
      <span class="cb-text-white">Slug</span>
      <span class="cb-ml-3 cb-text">Unique identifier for API token batches and admin lookup</span>
    </div>
    {text_input(f, :slug,
      class: "cb-form-control cb-form-control-lg cb-bg-panel cb-border-color cb-text-white",
      maxlength: "255",
      required: true
    )}
    {error_tag(f, :slug)}
  </div>

  <div class="cb-form-group">
    <div>
      <span class="cb-text-white">Time to solve (sec)</span>
    </div>
    {number_input(f, :time_to_solve_sec,
      class: "cb-form-control cb-form-control-lg cb-bg-panel cb-border-color cb-text-white",
      min: "1",
      required: true
    )}
    {error_tag(f, :time_to_solve_sec)}
  </div>

  <div class="cb-form-group">
    <div>
      <span class="cb-text-white">Runner URL</span>
      <span class="cb-ml-3 cb-text">
        HTTP endpoint that will receive selected latest player solutions
      </span>
    </div>
    {text_input(f, :runner_url,
      class: "cb-form-control cb-form-control-lg cb-bg-panel cb-border-color cb-text-white",
      maxlength: "500",
      required: false
    )}
    {error_tag(f, :runner_url)}
  </div>

  <div class="cb-d-flex">
    {submit("Save",
      phx_disable_with: "Saving...",
      class: "cb-btn cb-btn-success cb-text-white cb-mb-2 cb-rounded"
    )}
    {link("Back",
      to: Routes.group_task_path(@conn, :index),
      class: "cb-btn cb-btn-link cb-text cb-ml-auto"
    )}
  </div>
<% end) %>
