<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mt-3">
  <h1 class="cb-text-center cb-text-white">Edit Group Task Solution</h1>

  <div class="cb-bg-highlight-panel cb-border-color cb-border cb-rounded cb-p-4 cb-mb-4 cb-text-white">
    <p><strong>Group Task:</strong> {@group_task.slug}</p>
    <p><strong>User ID:</strong> {@solution.user_id}</p>
  </div>

  <%= form_for(@changeset, Routes.update_group_task_solution_path(@conn, :update_solution, @group_task, @solution.id), [class: "cb-col-8 cb-offset-2"], fn f -> %>
    <div class="cb-form-group">
      <span class="cb-text-white">Lang</span>
      {text_input(f, :lang,
        class: "cb-form-control cb-form-control-lg cb-bg-panel cb-border-color cb-text-white",
        required: true
      )}
      {error_tag(f, :lang)}
    </div>

    <div class="cb-form-group">
      <span class="cb-text-white">Solution</span>
      {textarea(f, :solution,
        class: "cb-form-control cb-form-control-lg cb-bg-panel cb-border-color cb-text-white",
        rows: 18,
        required: true
      )}
      {error_tag(f, :solution)}
    </div>

    <div class="cb-d-flex">
      {submit("Save",
        phx_disable_with: "Saving...",
        class: "cb-btn cb-btn-success cb-text-white cb-mb-2 cb-rounded"
      )}
      {link("Back",
        to: Routes.group_task_path(@conn, :show, @group_task),
        class: "cb-btn cb-btn-link cb-text cb-ml-auto"
      )}
    </div>
  <% end) %>
</div>
