apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-issuer
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: codebattle@hexlet.io
    privateKeySecretRef:
      name: certificate-frontend
    solvers:
      - http01:
          ingress:
            class:  nginx

