{{- if and .Values.runner.enabled (eq "Deployment" .Values.runner.type) -}}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: "runner-deployment"
spec:
  replicas: {{ .Values.runner.replicaCount }}
  selector:
    matchLabels:
      app: "runner"
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: "runner"
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values: ["runner"]
              topologyKey: "kubernetes.io/hostname"
      volumes:
        - name: users-code-path
          hostPath:
            path: /tmp/codebattle-runner
        - name: containerd-sock
          hostPath:
            path: /run/containerd/containerd.sock
      containers:
        - name: runner
          securityContext:
            privileged: true
          imagePullPolicy: "{{ .Values.runner.image.imagePullPolicy }}"
          image: "{{- if .Values.registry -}}{{ .Values.registry }}/{{- end -}}{{ .Values.runner.image.repository }}:{{ .Values.version }}"
          resources:
            {{- toYaml .Values.runner.resources | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /health
              port: 4001
            initialDelaySeconds: {{ .Values.runner.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.runner.probes.readiness.periodSeconds }}
            successThreshold: {{ .Values.runner.probes.readiness.successThreshold }}
          livenessProbe:
            httpGet:
              path: /health
              port: 4001
            initialDelaySeconds: {{ .Values.runner.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.runner.probes.liveness.periodSeconds }}
            failureThreshold: {{ .Values.runner.probes.liveness.failureThreshold }}
          command: ["bin/runner","start"]
          ports:
            - containerPort: 4001
          volumeMounts:
            - mountPath: /tmp/codebattle-runner
              name: users-code-path
            - mountPath: /run/containerd/containerd.sock
              name: containerd-sock
          envFrom:
            - secretRef:
                name: codebattle-secrets
          env:
            - name: CODEBATTLE_VERSION
              value: {{ .Values.version }}
            - name: CODEBATTLE_RUNNER_PORT
              value: "4001"
            - name: RUNNER_PULL_IMAGES
              value: "true"
            - name: RUNNER_CONTAINER_KILLER
              value: "true"
            - name: DEPLOYED_AT
              value: {{ dateInZone "2006-01-02 15:04:05" (now) "UTC" }}
{{- end }}
