<div class="container-xl bg-white shadow-sm rounded py-4 mb-3">
  <h1 class="text-center">Edit task</h1>
  <%= render("_form.html", Map.put(assigns, :action, Routes.task_path(@conn, :update, @task))) %>
</div>
