.canvas {
  width: 100vw;
  height: calc(100vh - 60px);
  position: relative;
  background-color: #edebec;
  background-image:
    linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px),
    linear-gradient(to right, #d0d0d0 1px, transparent 1px),
    linear-gradient(to bottom, #d0d0d0 1px, transparent 1px);
  background-size:
    32px 32px,
    32px 32px,
    160px 160px,
    160px 160px;
}
