.container-xl.bg-white.shadow-sm.rounded.py-4.mb-3
  h1.text-center Create your own task pack
  p.text-center Use it for tournaments to play with tasks that you really want
  = render "_form.html", Map.put(assigns, :action, Routes.task_pack_path(@conn, :create))
