{
  "presets": [
    ["@babel/env", {
      "targets": { "node": "current" },
      "ignoreBrowserslistConfig": true,
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "lodash",
    "babel-plugin-transform-import-meta"
  ]
}
