{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": "3.29.0"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "babel-plugin-transform-import-meta"
  ]
}
