<div class="cb-container-xl cb-bg-panel cb-shadow-sm cb-rounded cb-py-4 cb-mt-3">
  <h1 class="cb-text-center cb-text-white">Create Event</h1>
  {render("_form.html", Map.put(assigns, :action, Routes.event_path(@conn, :create)))}
</div>
