<div class="container-xl cb-bg-panel shadow-sm cb-rounded py-4 mt-3">
  <h1 class="text-center text-white">Create Event</h1>
  {render("_form.html", Map.put(assigns, :action, Routes.event_path(@conn, :create)))}
</div>
