<script>
  window.csrf_token = "<%= csrf_token() %>"
</script>

<div class="w-100 d-flex justify-content-center">
  <div
    id="tournament-edit-root"
    class="w-100"
    data-tournament-id={@tournament.id}
    data-task-pack-names={Jason.encode!(@task_pack_names)}
    data-user-timezone={@user_timezone}
  >
  </div>
</div>
