<script>
  window.csrf_token = "<%= csrf_token() %>"
</script>

<div
  id="tournament-index-root"
  class="w-100"
  data-tournaments={Jason.encode!(@tournaments)}
  data-task-pack-names={Jason.encode!(@task_pack_names)}
  data-user-timezone={@user_timezone}
>
</div>
