<div class="cb-position-relative cb-h-100">
  <div class="cb-d-flex cb-flex-column cb-min-vh-100 cb-overflow-hidden">
    <main id="tournament-player-root" class="cb-vh-100 cb-overflow-hidden"></main>
  </div>
  <script>
    window.csrf_token = "<%= csrf_token() %>"
  </script>
</div>
